@import 'https://fonts.googleapis.com/css?family=Open+Sans';

body{
    margin: 0px;
    font-family: Open Sans, sans-serif;
}

#header{
    background-color: black;
}

#header:after{
    content: "";
    clear: both;
    display: block;
}

#header p{
    display: inline-block;
    color: white;
    text-transform: capitalize;
    padding: 10px;
}

#header p:nth-child(1){
    float: left;
}

#header p:nth-child(2){
    float: right;
}

#source, #target{
    display: inline-block;
    position: absolute;
}